<!-- Content Wrapper. Contains page content -->
<div>
    <!-- Content Header (Page header) -->
    
    
    <div class="wrapper">
        <div class="text-center">
            <h1 class="error-code">Oops... 404</h1>
        </div>
        <section class="content-header text-center ">
        <h1>This page doesn't exist</h1>
    </section>

    <!-- Main content -->
        <div class="text-center">
            <span class="error-code">This page does not exist please contact Administrator</span>
        </div>
</div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>
