<section class="content-header">
    <h1>Users</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Users</li>
    </ol>
</section>
<section class="content">
    <div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <a class="btn btn-primary btn-sm pull-right" (click)="openCreateEditUser()" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New User</a>
                <h4 class="box-title">Search Criteria</h4>
            </div>
            <div class="box-body">
                <form autocomplete="off">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>User Name</label>
                                <input class="form-control" type="text" [(ngModel)]="searchName" name="searchName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div>
                                    <label>&nbsp;</label>
                                </div>
                                <button (click)="applyFilter()" class="btn btn-primary" type="submit">Apply</button>&nbsp;&nbsp;<button type="reset" class="btn btn-default">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>           
        </div>
        <div class="box box-solid">
            <!--<p class="text-right"></p>-->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-right">
                            <button type="button" class="btn btn-default" (click)="exportCSV()" [disabled]="!users || users.length == 0"><i class="fa fa-download" aria-hidden="true"></i> Download as CSV File</button>
                        </p>
                    </div>
                </div>
                <p-table #usersTable [columns]="cols" [value]="users" [rows]="pageSize" [responsive]="true" sortField="id" [autoLayout]="true" [paginator]="totalRecords > 0" [rowsPerPageOptions]="defaultPageSizeOptions"
                         [lazy]="true" (onLazyLoad)="getUsersLazy($event)" [totalRecords]="totalRecords" [globalFilterFields]="cols" [exportFunction]="getFormattedTextForExport"  [exportFilename]="csvFileName">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="header-names" *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th class="header-names">Edit</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr class="ng-star-inserted">
                            <td *ngFor="let col of columns">
                                {{resolveFieldData(rowData, col.field) }}
                            </td>
                            <td>
                                <a class="btn" title="Edit Role {{rowData.ApprovedBy}} {{rowData.Id}}" (click)="openEditUser(rowData)"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <span *ngIf="totalRecords == 0">No Results Found</span>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        Showing {{primeNgTable.first + 1}} to {{(pageNo * pageSize) <= totalRecords ? (pageNo * pageSize) : (pageNo * pageSize) - ((pageNo * pageSize) - totalRecords)}} of {{totalRecords}}
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>
<div>
    <p-dialog header="Users" [(visible)]="editCreateIsVisible"  [contentStyle]="{'overflow':'visible'}" [modal]="true" [style]="{width: '80%', height: '80%'}">
        <app-manage-users [(selectUser)]="user" (onUserSaved)="onUserSaved()" (onUpdateUserClosed)="onUpdateUserClosed()"></app-manage-users>
    </p-dialog>
</div>