
<header style="margin-bottom: 5px;">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-6">
                <div class="logo_box">
                    <h1>
                        <a href="/">
                    <h1 class="logo">YALKHA CRM</h1>
                        <h6>REAL ESTATE EMAIL BLASTER SOLUTION</h6>
                         </a>
                    </h1>
                </div>
            </div>
            <div class="col-sm-6">
                <h2 class=""></h2>
            </div>
        </div>
    </div>
</header>
<div class="clearfix"></div>
