<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Contacts</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Contacts</li>
    </ol>
</section>
<section class="content">
    <div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <a class="btn btn-primary btn-sm pull-right" (click)="openCreateEditContact()" style="margin-top: -7px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Contact</a>
                <h4 class="box-title">Search Criteria</h4>
            </div>
            <div class="box-body">
                <form autocomplete="off">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Contact Name</label>
                                <input class="form-control" type="text" [(ngModel)]="searchName" name="searchName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div>
                                    <label>&nbsp;</label>
                                </div>
                                <button (click)="applyFilter()" class="btn btn-primary" type="submit">Apply</button>&nbsp;&nbsp;<button type="reset" class="btn btn-default">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-right">
                            <button type="button" class="btn btn-default" (click)="exportCSV()" [disabled]="!contacts || contacts.length == 0"><i class="fa fa-download" aria-hidden="true"></i> Download as CSV File</button>
                        </p>
                    </div>
                </div>
                <p-table #contactsTable [columns]="cols" [value]="contacts" [responsive]="true" sortField="id" [autoLayout]="true" [paginator]="true" [rowsPerPageOptions]="defaultPageSizeOptions" [lazy]="true" (onLazyLoad)="getContactsLazy($event)" [totalRecords]="totalRecords"
                    [globalFilterFields]="cols" [exportFunction]="getFormattedTextForExport" [paginatorPosition]="'both'" [exportFilename]="csvFileName" [scrollable]="true" [virtualScroll]="true" [virtualRowHeight]="20">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="header-names" *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th class="header-names">Edit</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr class="ng-star-inserted">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                            <td>
                                <a class="btn" title="Edit Contact {{rowData.CreatedBy}} {{rowData.Id}}" (click)="openEditContact(rowData)"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody" let-columns="columns">
                        <tr style="height:34px">
                            <td *ngFor="let col of columns">
                                <div class="loading-text"></div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr *ngIf="totalRecords == 0">
                            <td attr.colspan="{{cols.length+1}}">
                                <span>No Results Found</span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" let-state>
                        Showing {{state.first + 1}} to {{((state.page + 1) * state.rows)
                        <=totalRecords ? ((state.page + 1)* state.rows) : ((state.page + 1) * state.rows) - (((state.page + 1) * state.rows) - totalRecords)}} of {{totalRecords}} </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <p-dialog header="Contacts" [(visible)]="editCreateIsVisible" [contentStyle]="{'overflow':'visible'}" [modal]="true" [style]="{width: '1000px', height: '400px', margin: '-140px 0px 0px 0px'}">
        <app-manage-contacts [selectedContact]="contact" (onContactSaved)="onContactSaved()" (onUpdateContactClosed)="onUpdateContactClosed()"></app-manage-contacts>
    </p-dialog>
</section>