<!-- <div class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree" data-animation-speed="300">
            <li class="treeview">
                <a href="#">
                    <i class=""></i> <span>dashboard</span>
                    <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active">
                        <a routerLink="dashboard" title="dashboard"><i class="dashboard"></i><span>dashboard</span></a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class=""></i> <span>dashboard</span>
                    <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active" *ngFor="let childItem of item.children">
                        <a routerLink="" title="dashboard"><i class="dashboard"></i><span>dashboard</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</div> -->